{% extends "layout.html" %}
{%- block head -%}
  <script src="{{ url_for('.static', filename='knockout_search.js') }}" type="text/javascript"></script>
{%- endblock -%}
{%- block body -%}
  <div data-bind="with: chosenPolicyData">
    <h1 data-bind="text: policy_number"></h1>
    <div class="well">
      <strong>Account balance:</strong> $<span data-bind="text: account_balance"></span>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <form class="form-inline">
          <div class="form-group">
            <label for="billing_schedule">Schedule</label>
            <select data-bind="options: $parent.billingSchedules, value: billing_schedule" id="billing_schedule"></select>
          </div>
          <button type="submit" class="btn btn-default" data-bind="click: $parent.changeBillingSchedule">Update Schedule</button>
        </form>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <form data-bind="with: $parent" class="form-inline">
          <div data-bind="css: { 'has-error': paymentAmount.hasError }" class="form-group">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input data-bind="value: paymentAmount, valueUpdate: 'input'" type="text" class="form-control">
            </div>
            <span data-bind="visible: paymentAmount.hasError, text: paymentAmount.validationMessage" class="help-block"></span>
          </div>
          <button type="submit" class="btn btn-default" data-bind="click: makePayment, disable: paymentAmount.hasError">Make Payment</button>
        </form>
      </div>
    </div>
    <div data-bind="visible: invoices.length > 0">
      <h2>Invoices</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Bill Date</th>
              <th>Due Date</th>
              <th>Cancel Date</th>
              <th>Amount Due</th>
              <th>Deleted?</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: invoices">
            <tr data-bind="css: { danger: deleted }">
              <td data-bind="text: bill_date"></td>
              <td data-bind="text: due_date"></td>
              <td data-bind="text: cancel_date"></td>
              <td data-bind="text: amount_due"></td>
              <td data-bind="text: deleted"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Policy Search</h1>
      <small>Brought to you by Knockout.js</small>
      <form>
        <div data-bind="css: { 'has-error': policy_number.hasError }" class="form-group">
          <label class="control-label" for="policy_number">Policy Number</label>
          <input data-bind="value: policy_number, valueUpdate: 'input'" id="policy_number" type="text" name="policy_number" class="form-control">
          <span data-bind="visible: policy_number.hasError, text: policy_number.validationMessage" class="help-block"></span>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input data-bind="value: date" id="date" type="text" name="date" class="form-control" placeholder="YYYY-MM-DD">
        </div>
        <button class="btn btn-default btn-primary" type="submit" data-bind="click: verifyForm, disable: hasErrors()">Search</button>
      </form>
    </div>
  </div>
{%- endblock %}
