<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BriceCore</title>
  <meta name="description" content="Policy Management">
  <meta name="author" content="thermaldonkey">
  <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
</body>
</html>
