{% extends "layout.html" %}
{% block body %}
  <h1>{{ policy.policy_number }}</h1>
  <div class="well">
    <strong>Account balance:</strong> ${{ account_balance }}
  </div>
  {%- if invoices|length > 0 -%}
    <h2>Invoices</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Bill Date</th>
          <th>Due Date</th>
          <th>Cancel Date</th>
          <th>Amount Due</th>
          <th>Deleted?</th>
        </tr>
        {%- for invoice in invoices -%}
          {%- if invoice.deleted -%}
            <tr class="danger">
          {%- else -%}
            <tr>
          {%- endif -%}
            <td>{{ invoice.bill_date }}</td>
            <td>{{ invoice.due_date }}</td>
            <td>{{ invoice.cancel_date }}</td>
            <td>{{ invoice.amount_due }}</td>
            <td>{{ invoice.deleted }}</td>
          </tr>
        {%- endfor -%}
      </table>
    </div>
  {%- else -%}
    <h2>No invoices</h2>
  {% endif %}
{%- endblock -%}
