{% extends "layout.html" %}
{% block body %}
  <h1>{{ policy.policy_number }}</h1>
  Account balance: ${{ account_balance }}
  {% if invoices|length > 0 %}
    <h2>Invoices</h2>
    <table>
      <tr>
        <th>Bill Date</th>
        <th>Due Date</th>
        <th>Cancel Date</th>
        <th>Amount Due</th>
        <th>Deleted?</th>
      </tr>
      {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.bill_date }}</td>
          <td>{{ invoice.due_date }}</td>
          <td>{{ invoice.cancel_date }}</td>
          <td>{{ invoice.amount_due }}</td>
          <td>{{ invoice.deleted }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h2>No invoices</h2>
  {% endif %}
  {% with link_text = "Search again" %}
    {% include "link_to_search.html" %}
  {% endwith %}
{% endblock %}
